@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Mitr:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
::after,
::before {
  margin:0 ;
  padding: 0 ;
  box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: theme('colors.main.DEFAULT') !important;
  }